[Unit]
Description=RClone Mount Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/home/jdm/.nix-profile/bin/rclone mount google-drive: /home/jdm/google-drive \
  --config /home/jdm/.config/rclone/rclone.conf \
  --vfs-cache-mode writes \
  --vfs-cache-max-age 24h \
  --vfs-cache-max-size 10G \
  --bwlimit-file 10M \
  --log-level INFO \
  --log-file /tmp/rclone-google-drive.log
ExecStop=/bin/fusermount -u /home/jdm/google-drive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
